header div.hero {
  background-image: url("../imgs/bgs.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  
  text-align:center;

}
header div.hero div{
   min-height: 50vh;
}
.btn-epic{
  background-color:aquamarine;
}

.title{
  font-size:20px;
  color: rgb(21, 219, 219);
}

.colorfont{
  color: rgb(21, 219, 219);
}

.body{
  background-color: black;
}

.card img{
  width:100%;
}
.label{
  color: rgb(21, 219, 219);
  text-shadow: black
}
form {
  font-size:1rem !important;
}

@media (min-width: 768px) {
        header div.hero {
            background-image: url("../imgs/bgm.jpg");
            min-height: 80vh;
        }


        form{
          font-size:2rem !important;
        }
        .title{
          font-size: 30px;
          color: rgb(21, 219, 219);

          padding:0.7em;
          width:100%;
          
        }
      }

@media (min-width: 992px) {
        header div.hero {
            background-image: url("../imgs/bgl.jpg");
        }
         .title{
           font-size: 35px;
          max-width:1024px;
          margin:1em auto;
          
        }
      }